<div class="container-fluid">
    <section class="card">
        <div class="card-block">
            <h5 class="with-border m-t-0">View Feedback</h5>
            <div role="tabpanel" class="tab-pane">
                <section>
                    <div class="row form-body">
                        <div class="col-md-12 clearfix">
                            <table id="tblFeedback" class="table table-bordered table-hover display table-striped" role="grid" aria-describedby="example1-info"></table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>

<div id="modal-feedback" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <input type="hidden" name="name" value=" " id="hdnFeedbackId" />
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 id="modalTitle" class="modal-title">View Feedback</h4>
            </div>
            <div class="modal-body">                                
                <div class="form-group">
                    <label class="control-label">Employee Name</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <input type="text" disabled="" class="form-control validation-required" placeholder="Enter task sub detail1 name" id="employeeName" />
                        </div>
                    </div>
                </div>              
                <div class="form-group">
                    <label class="control-label">Created Date</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <input type="text" disabled="" class="form-control validation-required" placeholder="Enter task sub detail1 name" id="createdDate" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Acknowledged By</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <input type="text" disabled="" class="form-control validation-required" placeholder="Enter task sub detail1 name" id="acknowledgedBy" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                        <label class="control-label">Feedback Message</label>
                        <div class="inputGroupContainer">
                            <div class="input-group">
                                <textarea disabled="" class="form-control validation-required" id="feedbackMessage"></textarea>
                            </div>
                        </div>
                    </div>
            </div>                
            <div class="modal-footer">
                <button type="button" id="btnAcknowledgeFeedback" class="btn btn-success" onclick="acknowledgeFeedback();"><i class="fa fa-save"></i>&nbsp;Acknowledge</button>
                <button id="btnClose" type="button" class="btn btn-default"><i class="fa fa-times"></i>&nbsp;Close </button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/app/Feedback/viewFeedback.js"></script>