<div class="container-fluid">
    <section class="card">
        <div class="card-block">
            <h5 class="with-border m-t-0">Probation &amp; Training Completion</h5>
            <div class="row" id="divFilter">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Email From Date<span class="spnError">*</span></label>
                        <div class="inputGroupContainer date date-picker" id="txtFromDate">
                            <div class="input-group">
                                <input type="text" class="form-control validation-required" readonly="" name="txtFromDate" placeholder="From Date">
                                <span class=" input-group-btn">
                                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Email Till Date<span class="spnError">*</span></label>
                        <div class="inputGroupContainer date date-picker" id="txtTillDate">
                            <div class="input-group">
                                <input type="text" class="form-control validation-required" readonly="" name="txtTillDate" placeholder="Till Date">
                                <span class=" input-group-btn">
                                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="btn btn-success m-t-22" id="btnSearch"><i class="fa fa-search"></i>&nbsp;Search</button>

            </div>
            <div class="clearfix"><br /></div>
            <table id="tblEmployeeListForFeedbackMail" class="table table-bordered table-hover display table-striped" role="grid" aria-describedby="example1-info"></table>
            <div class="text-center" id="divBulkSendMail">
            </div>
        </div>
    </section>
</div>

<div id="mypopupSendBulkMail" class="modal fade" role="dialog" aria-labelledby="mypopupSendBulkMail" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 id="modalTitle" class="modal-title">View Employees<span id="popupfor"></span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <div class="col-md-4">
                            <label>Selected Employee(s)</label>
                        </div>
                        <div class="col-md-8" id="employeesNames">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <div class="col-md-4">
                            <label>Fill By Date<span class="spnError">*</span></label>
                        </div>
                        <div class="col-md-6 inputGroupContainer date date-picker" id="txtFillByDate">
                            <div class="input-group">
                                <input type="text" class="form-control validation-required" name="txtFillByDate" readonly="" placeholder="Fill By Date">
                                <span class=" input-group-btn">
                                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnSendBulkMail" type="button" class="btn btn-success"><i class="fa fa-send"></i>&nbsp;Send </button>
                    <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-times"></i>&nbsp;Close </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/app/HRPortal/manageFeedbackMail.js?v=1.1"></script>
