@{
    Layout = null;
}
<link href="~/Content/lib/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/lib/main.css?v=1.4" rel="stylesheet" />
<link href="~/Content/app/mis.common.css?v=2.9" rel="stylesheet" />
<div class="row">
    <div class="col-md-12 ">
        <header style="text-align: center;">
            <img src="~/img/GeminiLogo-Small-Black.png">
        </header>
        <div class="access-bg text-center">
            <span><i class="fa fa-warning"></i></span><br />
            <h4 class="padding-top-10 text-danger">Error has occurred</h4>
            <p>Your request cannot be processed. Please try after some time or contact to MIS team for further assistance.</p>
            <p>Click <a href="/">here</a> to go back to the home page.</p>
        </div>
    </div>
</div>