--template for OutingRequest Approve and reject
GO

--Template for Birthday wish and Anniversary
GO

--update template for User Registration Link and Regenerate Link 
update EmailTemplates set LastModifiedDate=GETDATE(),LastModifiedBy=1, 
Template='<!doctype html><html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office"><head> <title></title> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> <style type="text/css"> #outlook a{padding: 0;}.ReadMsgBody{width: 100%;}.ExternalClass{width: 100%;}.ExternalClass *{line-height: 100%;}body{margin: 0; padding: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}table, td{border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;}img{border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic;}p{display: block; margin: 13px 0;}</style> <style type="text/css"> @media only screen and (max-width:480px){@-ms-viewport{width: 320px;}@viewport{width: 320px;}}</style><!--[if mso]><xml> <o:OfficeDocumentSettings> <o:AllowPNG/> <o:PixelsPerInch>96</o:PixelsPerInch> </o:OfficeDocumentSettings></xml><![endif]--><!--[if lte mso 11]><style type="text/css"> .outlook-group-fix{width:100% !important;}</style><![endif]--> <style type="text/css"> @media only screen and (min-width:480px){.mj-column-per-100{width: 100%!important;}}</style></head><body> <div><!--[if mso | IE]> <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="600" align="center" style="width:600px;"> <tr> <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]--> <div style="margin:0px auto;max-width:600px;"> <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;" align="center" border="0"> <tbody> <tr> <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:20px 0px;padding-bottom:24px;padding-top:0px;"></td></tr></tbody> </table> </div><!--[if mso | IE]> </td></tr></table><![endif]--><!--[if mso | IE]> <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="600" align="center" style="width:600px;"> <tr> <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]--> <div style="margin:0px auto;max-width:600px;background:#d8e2e7;"> <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#d8e2e7;" align="center" border="0"> <tbody> <tr> <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:20px 0px;"><!--[if mso | IE]> <table role="presentation" border="0" cellpadding="0" cellspacing="0"><tr><td style="vertical-align:top;width:600px;"><![endif]--> <div class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"> <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"> <tbody> <tr> <td style="word-break:break-word;font-size:0px;padding:0px;" align="center"> <div class="" style="cursor:auto;color:#000000;font-family:Proxima Nova, Arial, Arial, Helvetica, sans-serif;font-size:16px;line-height:22px;text-align:center;text-transform:uppercase;">[HEADING]</div></td></tr></tbody> </table> </div><!--[if mso | IE]> </td></tr></table><![endif]--> </td></tr></tbody> </table> </div><!--[if mso | IE]> </td></tr></table><![endif]--><!--[if mso | IE]> <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="600" align="center" style="width:600px;"> <tr> <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]--> <div style="margin:0px auto;max-width:600px;background:#d8e2e7;"> <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#d8e2e7;" align="center" border="0"> <tbody> <tr> <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:0px 1px 1px;"><!--[if mso | IE]> <table role="presentation" border="0" cellpadding="0" cellspacing="0"><tr><td style="vertical-align:top;width:600px;"><![endif]--> <div class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"> <table role="presentation" cellpadding="0" cellspacing="0" style="background:white;" width="100%" border="0"> <tbody> <tr> <td style="word-break:break-word;font-size:0px;padding:15px 30px 6px;" align="left"> <div class="" style="cursor:auto;color:#000000;font-family:Proxima Nova, Arial, Arial, Helvetica, sans-serif;font-size:15px;line-height:22px;text-align:left;">Dear [NAME],</div></td></tr><tr> <td style="word-break:break-word;font-size:0px;padding:15px 30px 5px;" align="left"> <div class="" style="cursor:auto;color:#000000;font-family:Proxima Nova, Arial, Arial, Helvetica, sans-serif;font-size:14px;line-height:22px;text-align:left;">Welcome to Gemini Solutions. Please fill out your profile for your MIS account ASAP. To complete the process, click the link below...</div></td></tr><tr> <td style="word-break:break-word;font-size:0px;padding:8px 16px 10px;padding-top:10px;padding-bottom:16px;padding-right:30px;padding-left:30px;" align="left"> <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="left" border="0"> <tbody> <tr> <td style="border:none;border-radius:25px;color:white;cursor:auto;padding:10px 25px;" align="center" valign="middle" bgcolor="#00a8ff"><a href="[LINK]" style="text-decoration:none;line-height:100%;background:#00a8ff;color:white;font-family:Proxima Nova, Arial, Arial, Helvetica, sans-serif;font-size:15px;font-weight:400;text-transform:none;margin:0px;" target="_blank">Click Here</a></td></tr></tbody> </table> </td></tr><tr> <td style="word-break:break-word;font-size:0px;padding:15px 30px 6px;" align="left"> <div class="" style="cursor:auto;color:#607D8B;font-family:Proxima Nova, Arial, Arial, Helvetica, sans-serif;font-size:14px;line-height:22px;text-align:left;">For any query please send an email to <a href="mailto:misteam@geminisolutions" style="text-decoration:none;color:#00a8ff">misteam@geminisolutions</a> or contact to HR team. Please ignore this email if you have already registered.</div></td></tr><tr> <td style="word-break:break-word;font-size:0px;padding:15px 30px 0px;" align="left"> <div class="" style="cursor:auto;color:#607D8B;font-family:Proxima Nova, Arial, Arial, Helvetica, sans-serif;font-size:15px;line-height:22px;text-align:left;">Thanks,</div></td></tr><tr> <td style="word-break:break-word;font-size:0px;padding:0px 30px 10px;" align="left"> <div class="" style="cursor:auto;color:#607D8B;font-family:Proxima Nova, Arial, Arial, Helvetica, sans-serif;font-size:15px;line-height:22px;text-align:left;">Team MIS</div></td></tr><tr> <td style="word-break:break-word;font-size:0px;padding:10px 25px;"> <p style="font-size:1px;margin:0px auto;border-top:1px solid #eee;width:100%;"></p></td></tr><tr> <td style="word-break:break-word;font-size:0px;padding:15px 30px 6px;" align="left"> <div class="" style="cursor:auto;color:#607D8B;font-family:Proxima Nova, Arial, Arial, Helvetica, sans-serif;font-size:12px;line-height:22px;text-align:left;">If you are having trouble with the button above, copy and paste the URL below into your web browser.</div></td></tr><tr> <td style="word-break:break-word;font-size:0px;padding:0px 30px 10px;" align="left"> <div class="" style="cursor:auto;color:#00a8ff;font-family:Proxima Nova, Arial, Arial, Helvetica, sans-serif;font-size:12px;line-height:22px;text-align:left;">[LINK]</div></td></tr></tbody> </table> </div><!--[if mso | IE]> </td></tr></table><![endif]--> </td></tr></tbody> </table> </div><!--[if mso | IE]> </td></tr></table><![endif]--><!--[if mso | IE]> <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="600" align="center" style="width:600px;"> <tr> <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]--> <div style="margin:0px auto;max-width:600px;"> <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;" align="center" border="0"> <tbody> <tr> <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:10px 0px;"><!--[if mso | IE]> <table role="presentation" border="0" cellpadding="0" cellspacing="0"><tr><td style="vertical-align:top;width:600px;"><![endif]--> <div class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"> <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"> <tbody> <tr> <td style="word-break:break-word;font-size:0px;padding:0px;" align="center"> <div class="" style="cursor:auto;color:#607D8B;font-family:Proxima Nova, Arial, Arial, Helvetica, sans-serif;font-size:13px;line-height:22px;text-align:center;"> <a href="http://geminisolutions.in" style="text-decoration: none; color: inherit;"> <span style="border-bottom: dotted 1px #b3bac1">Gemini Solutions Pvt. Ltd.</span> </a> | All Rights Reserved</div></td></tr></tbody> </table> </div><!--[if mso | IE]> </td></tr></table><![endif]--> </td></tr></tbody> </table> </div><!--[if mso | IE]> </td></tr></table><![endif]--><!--[if mso | IE]> <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="600" align="center" style="width:600px;"> <tr> <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]--> <div style="margin:0px auto;max-width:600px;"> <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;" align="center" border="0"> <tbody> <tr> <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:20px 0px;padding-bottom:24px;padding-top:0px;"></td></tr></tbody> </table> </div><!--[if mso | IE]> </td></tr></table><![endif]--> </div></body></html>'
where TemplateName='User Registration';
GO

ALTER TABLE UserAccessCard ADD StaffUserId INT NULL,AssignedFromdate DATE NULL,AssignedTillDate DATE NULL
GO

UPDATE UC1 SET UC1.AssignedFromDate=UC2.CreatedDate 
FROM UserAccessCard UC1 
INNER JOIN UserAccessCard UC2 ON UC1.UserAccessCardId=UC2.UserAccessCardId
GO

ALTER TABLE UserAccessCard ALTER COLUMN UserId INT NULL
GO

ALTER TABLE UserAccessCard ALTER COLUMN AssignedFromDate DATE NOT NULL
GO