
<div class="container-fluid">
    <section class="card">
        <div class="card-block">
            <h5 class="with-border m-t-0">Gemini Summer Of Code '19</h5>
            <div class="row margin-bottom-10">
                <div class="col-md-12">
                    <label class="control-label">
                        List of Accepted Projects under GSOC'19
                    </label>
                </div>
            </div>
            <div class="clearfix"><br /></div>
            <div>
                <table class="table table-bordered table-hover display table-striped" role="grid" aria-describedby="example1-info">
                    <tbody>
                        <tr>
                            <th>S.No</th>
                            <th>
                                Project
                            </th>
                            <th>
                                Brief
                            </th>
                            <th>
                                Mentor
                            </th>
                            <th>
                                Mentees
                            </th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>
                                Vendor Finder
                            </td>
                            <td>
                                Python-Django based web app that will help an individual to find different vendors like plumber, electrician etc nearby to the mentioned location.
                            </td>
                            <td>Abhishake</td>
                            <td>Akrati Chaturvedi, Akshay Kumar Katihar, Bhavik Garg</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>
                                CI/CD
                            </td>
                            <td>

                                An Educational project to automate your build and deployment process

                            </td>
                            <td>Abhishek Gupta</td>
                            <td>Bhavik Garg</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>
                                MIS Selenium Automation
                            </td>
                            <td>
                                Creating automation framework using Selenium Webdriver and Java
                            </td>
                            <td>Akshi</td>
                            <td>Kiran Malik, Deepa Chupal, Rahul Kumar Singh</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>
                                GemApp
                            </td>
                            <td>
                                Develop a mobile application for MIS
                                as a product having plug and play features

                            </td>
                            <td>Sudhanshu Shekhar</td>
                            <td>Kanchan Kumari</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>
                                User Management And Tracking System

                            </td>
                            <td>

                                Flutter App for User Management And Tracking System


                            </td>
                            <td>Sudhanshu Shekhar</td>
                            <td>Mimansa Agrawal</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>
                                Splitwise
                            </td>
                            <td>
                                Create your own split wise and add your friends,  teammates for sharing expenses

                            </td>
                            <td>Rakesh Gandhi</td>
                            <td>
                                Pranav Kapoor
                            </td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>
                                Employee Onboarding Automation
                            </td>
                            <td>
                                A platform to start automating employee onboarding - document collection.

                            </td>
                            <td>Ritika</td>
                            <td>Akansha Tikoo</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>
                                Optical Character Recognition (Passport)
                            </td>
                            <td>
                                Read a scanned image of passport and identify the relevant portions.
                            </td>
                            <td>Ritika</td>
                            <td>Umang Aggarwal</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>
                                Phoebe (HR chatbot)
                            </td>
                            <td>
                                Add modules to HR chatbot for Gemini - like fetch forms, fetch contact details of an employee,

                            </td>
                            <td>Ritika</td>
                            <td> Ankur Anurag</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>
                                Entitlements Service
                            </td>
                            <td>
                                Governing Service which can be utilised at different places to grant or revoke access.

                            </td>
                            <td>
                                Ritika/Sanjay
                            </td>
                            <td>
                                Anuj Kumar/Ananya
                            </td>
                        </tr>

                        <tr>
                            <td>11</td>
                            <td>
                                Movie Recommendation engine
                            </td>
                            <td>
                                Generate a system in which we recommend a user to watch movies depending upon its history and location

                            </td>
                            <td>Shrey</td>
                            <td>
                                Abhishake Gupta
                            </td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>
                                HelpDesk 2.0
                            </td>
                            <td>
                                Need to build the Helpdesk with new and enhanced functionality than the older one, on Python Tech Stack.

                            </td>
                            <td>Mahendra</td>
                            <td>
                                Akanksha Singh, Sakshi Goyal
                            </td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>
                                Detect toxic comments
                            </td>
                            <td>
                                Detect toxicity like threats, obscenity, insults, and identity-based hate in online comments

                            </td>
                            <td>Gaurav Sharma</td>
                            <td>
                                Neha Kumari, Aman Lalwani, Shashank Agrawal, Shubham Shukla
                            </td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td>
                                Educational Content for ML
                            </td>
                            <td>
                                An educational project - Learn ML and Python's ML Stack and create notebooks for others to learn as well

                            </td>
                            <td>Gaurav Sharma</td>
                            <td>
                                Divya Bansal
                            </td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>
                                Educational Content on Deep Learning
                            </td>
                            <td>
                                An educational Porject-
                                Learn and notebooks on deep learning


                            </td>
                            <td>Gaurav Sharma</td>
                            <td>
                                Sidhant Bansal, Vijay Kumar, Pragati Gupta
                            </td>
                        </tr>
                        <tr>
                            <td>16</td>
                            <td>
                                Suspicious Activity Detection from CCTV Videos
                            </td>
                            <td>
                                Identify anyone with suspicious activity from the video recorded through a CCTV camera
                            </td>
                            <td>
                                Gaurav Sharma
                            </td>
                            <td>
                                Piyush Maheshwari
                            </td>
                        </tr>
                        <tr>
                            <td>17</td>
                            <td>
                                Text Classification
                            </td>
                            <td>
                                Rewrite in a typed functional programming language the current python parser for section identification in 10-K documents

                            </td>
                            <td>Gaurav Sharma</td>
                            <td>
                                Sai Sreekar Muvvala
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clearfix"><br /></div>
            <div>

                <table class="table table-bordered table-hover display table-striped" role="grid" aria-describedby="example1-info">
                    <tr><th>Points To Note</th></tr>
                    <tr>
                        <td>
                            1. The timeline for 'summer of code' would be 2 months (which ends on 4th November 2019)
                        </td>
                    </tr>
                    <tr><td>2. Mentees are expected to drive the project with due guidance from respective mentors.</td></tr>
                    <tr><td>3. Not to forget 'Tech club' is there for any concerns or infrastructural support that might be required.</td></tr>
                    <tr><td>4. Codes are to be checked in to Local Repository (Gitea) - https://gitea.geminisolutions.in/ </td></tr>

                </table>
            </div>
            <div class="clearfix"><br /></div>
            <div>
                <table class="table table-bordered table-hover display table-striped" role="grid" aria-describedby="example1-info">
                    <tr><th>Evaluation</th></tr>
                    <tr>
                        <td>
                            1. Tech club will evaluate the progress of projects mid term (~3rd October) and at the end of the term (~4th November 2019).
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2. Successfully completed projects will be rewarded. 'Successful' here has to be defined by the mentors.
                        </td>
                    </tr>
                    <tr><td>3. Please focus on requirements completion, quality code, documentation, code check-in etc.</td></tr>

                </table>
            </div>
            <div class="clearfix"><br /></div>
            <div>
                <table class="table table-bordered table-hover display table-striped" role="grid" aria-describedby="example1-info">
                    <tr>
                        <th>
                            What do you gain?
                        </th>
                    </tr>
                    <tr>
                        <td>
                            1. Learning opportunities for all

                        </td>
                    </tr>
                    <tr>
                        <td>
                            2. Get a sense of achievement

                        </td>
                    </tr>
                    <tr>
                        <td>
                            3. Get involved and build a network
                        </td>
                    </tr>
                    <tr>
                        <td>
                            4. Know where to go for help with technical questions


                        </td>
                    </tr>
                    <tr>
                        <td>
                            5. Work independently


                        </td>
                    </tr>

                </table>
            </div>
            <div class="clearfix"><br /></div>
            <div>
                <label>
                    Please feel free to write to gsoc@geminisolutions.in in case of any queries with respect to Gemini summer of code'19.
                </label>
                <label></label>
                <label>

                    Mentees: Utilise this platform as an opportunity to learn and widen your tech stack and will love to have you as mentors in coming seasons :)

                </label>
            </div>
        </div>
    </section>
</div>
