<div class="col-md-12 clearfix" id="permissionContainer">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Role</label>
                <div class="inputGroupContainer">
                    <div class="input-group">
                        <select class="form-control select2 validation-required" id="ddlRole">
                            <option value="0">Select</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 clearfix">
    <table id="roleWiseWidgetsGrid" data-filter-control="true" data-toolbar="#toolbar" class="table table-hover"></table>
    <input id="btnUpdateRolePermission" class="btn btn-success pull-xl-right pull-lg-right pull-md-right pull-sm-right pull-xs-right" type="submit" value="Update" />
</div>
<script src="~/Scripts/app/Administrations/manageWidgetRolePermission.js?v=11"></script>