<div class="container-fluid">
    <section class="card">
        <div class="card-block">
            <h5 class="with-border m-t-0">Manage Menu Permissions</h5>
            <div class="row form-body">
                <div class="col-md-12 clearfix form-group">
                    <input type="checkbox" id="permissionType" name="permissionType" data-toggle="toggle" data-on="Role Permission" data-off="User Permission" data-onstyle="success" data-offstyle="info" data-size="mini">
                </div>
                <div class="col-md-12 clearfix" id="partialPermissionContainer">
                </div>
            </div>
        </div>
    </section>
</div>
<script src="~/Scripts/app/Administrations/menuPermission.js"></script>