<div class="container-fluid">
    <section class="card">
        <div class="card-block">
            <h5 class="with-border m-t-0">Manage Widget Permissions</h5>
            <div class="row form-body">
                <div class="col-md-12 clearfix" id="logContainer">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                Select Permission
                                <input type="checkbox" id="permissionType" name="permissionType" data-toggle="toggle" data-on="Role Permission" data-off="User Permission" data-onstyle="success" data-offstyle="info" data-size="mini">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 clearfix" id="partialPermissionContainer">
                </div>
            </div>
        </div>
    </section>
</div>
<script src="~/Scripts/app/Administrations/widgetPermission.js"></script>