<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MISEntities" connectionString="metadata=res://*/MISModel.csdl|res://*/MISModel.ssdl|res://*/MISModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.71.81;initial catalog=MIS;persist security info=True;user id=App_MIS;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>