<div class="container-fluid">
    <section class="card">
        <div class="card-block">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="">Invoice Details</h5>
                </div>
                <div class="col-md-6 text-right">
                    <a href="#" data-toggle="popover" id="infoIcon"><i class="fa fa-info-circle fa-2x" id="icon"></i></a>
                    <span id="info" style="display:none"></span>
                    <button type="button" class="btn btn-success" id="btnGenerateInvoice" style="display:none" onclick="showGenerateInvoicePopup();">Book Invoice</button>
                    <button type="button" class="btn btn-info" id="btnRequestInvoice" style="display:none" onclick="showRequestInvoicePopup();">Request For Invoice Permission</button>
                </div>
            </div>
            <h5 class="with-border m-t-0"></h5>
            <div class="clearfix">
                <table id="tblInvoiceList" class="table table-bordered table-hover display table-striped" role="grid" aria-describedby="example1-info"></table>
            </div>
        </div>
    </section>
</div>
@*<div id="mypopupRequestInvoice" class="modal fade" role="dialog" aria-labelledby="mypopupRequestInvoice" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content" id="requestInvoiceDiv">
                <div class="modal-header">
                    <button type="button" id="buttonClose" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="modalTitle" class="modal-title">Request Invoice</h4>
                </div>
                <div class="container margin-top-10">
                    <div class="form-group row">
                        <div class="form-group">
                            <div class="col-md-4">
                                <label>Total Invoice<span class="spnError">*</span></label>
                            </div>
                            <div class="col-md-8">
                                <div class="inputGroupContainer">
                                    <div class="input-group">
                                        <input class="form-control validation-required" id="noOfInvoices" type="number" min="1" max="10">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="requestInvoice" type="button" class="btn btn-success"><i class="fa fa-save"></i>&nbsp;Request</button>
                    <button id="btnClose" type="button" class="btn btn-default"><i class="fa fa-times"></i>&nbsp;Close</button>
                </div>
            </div>
        </div>
    </div>*@
<div id="mypopupRequestInvoice" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content " id="requestInvoiceDiv">
            <div class="modal-header">
                <button type="button" class="close" id="buttonClose" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 id="modalTitle" class="modal-title">Request Invoice Permission</h4>
            </div>
            <div class="container margin-top-25 margin-bottom-15  ">
                <div class="clearfix"></div>
                <a id="btnAddNewRequests" data-toggle="modal" class="btn btn-primary pull-left"><i class="fa fa-plus"></i></a>
                &nbsp;<span class="spnError">Click here to add invoices.</span>
                <div id="dynamicAddRequests">
                </div>
                <table class="table table-hover display table-striped" role="grid" aria-describedby="example1-info">
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th style="text-align:right">Total Invoice:</th>
                            <th id="invoiceTotalCount"></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" id="requestInvoice" class="btn btn-success"><i class="fa fa-save"></i>&nbsp;Request</button>
                <button type="button" id="btnClose" class="btn btn-default btnClose"><i class="fa fa-times"></i>&nbsp;Close </button>
            </div>
        </div>
    </div>
</div>
<div id="mypopupGenerateInvoice" class="modal fade" role="dialog" aria-labelledby="mypopupGenerateInvoice" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content" id="generateInvoice">
            <div class="modal-header">
                <button type="button" id="buttonClose" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 id="modalTitle" class="modal-title">Book Invoice</h4>
            </div>
            <div class="container margin-top-10">
                <div class="form-group row">
                    <div class="form-group">
                        <div class="col-md-2">
                            <label>Client<span class="spnError">*</span></label>
                        </div>
                        <div class="col-md-2 text-right">
                            <a href="#" data-toggle="popover" id="anotherInfoIcon"><i class="fa fa-info-circle fa-2x" style="color:green;"></i></a>
                        </div>
                        <div class="col-md-8">
                            <div class="inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <select class="form-control select2 validation-required" id="client">
                                        @*<option value="0" selected>Select</option>*@
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="saveInvoice" type="button" class="btn btn-success"><i class="fa fa-save"></i>&nbsp;Book</button>
                <button id="btnCloseInv" type="button" class="btn btn-default"><i class="fa fa-times"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>
</div>
<div id="mypopupReason" class="modal fade" role="dialog" aria-labelledby="mypopupReason" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="heading">Cancel Request</h4>
            </div>
            <div class="container margin-top-10" id="reasonDiv">
                <div class="form-group col-md-12">
                    <textarea rows="4" cols="2000" id="reason" maxlength="500" placeholder="Please enter reason for cancellation." class="form-control validation-required"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button id="submitReasonRemark" type="button" class="btn btn-success"><i class="fa fa-"></i>&nbsp;Submit </button>
                <button id="btnCloseReason" type="button" class="btn btn-default"><i class="fa fa-times"></i>&nbsp;Close </button>
            </div>
        </div>
    </div>
</div>

@*<div id="popover-content-login" class="hide">
    </div>*@

<script src="~/Scripts/app/AccountsPortal/generateInvoice.js?v=1.6"></script>



