<div class="container-fluid">
    <section class="card">
        <div class="card-block">
            <h5 class="with-border m-t-0">Manage Access Card</h5>
            <div>
                <button type="button" class="btn btn-success" onclick="addNewAccessCard()">Add new access card</button>
            </div>
            <div role="tabpanel" class="tab-pane margin-top-10">
                <section>
                    <div class="row form-body">
                        <div class="col-md-12 clearfix">
                            <table id="tblAllAccessCard" class="table table-bordered table-hover display table-striped" role="grid" aria-describedby="example1-info"></table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>

<div id="modal-addAccessCard" class="modal fade" role="dialog" aria-labelledby="myDocumentsDetails" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 id="modalTitle" class="modal-title">Add access card</h4>
            </div>
            <div class="container margin-top-10">
                <div class="form-group row">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label>Card number<span class="spnError">*</span></label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control validation-required" placeholder="Enter access card number" id="cardNo" maxlength="9" />
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label>Temporary card</label>
                        </div>
                        <div class="col-md-8">
                            <input type="checkbox" id="isTempCard" onclick="changeCardPreference()" />
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label>For Pimco use</label>
                        </div>
                        <div class="col-md-8">
                            <input type="checkbox" id="isPimcoCard" onclick="changeCardPreference()" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <span class="spnError">Zeros will be appended if card number is less than 9 characters</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="finalAddAccessCard();"><i class="fa fa-save"></i>&nbsp;Add</button>
                <button id="btnClose" type="button" class="btn btn-default"><i class="fa fa-times"></i>&nbsp;Close </button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/app/AccessCard/manage.js?v=2.3"></script>
